### import packages

In [5]:
import pandas as pd
import sys
sys.path.append("/Users/tong/Desktop/ISI/SPARQL/")
import find_identity
import numpy as np

### read data from .csv file, transfer them to DataFrame

In [6]:
data = pd.read_csv('./learningData.csv')
df = pd.DataFrame(data)
df.head()

   d3mIndex   FIPS State              Area  RUCCode  POVALL_2016
0         0  35005    NM     Chaves County        5        13974
1         1  13297    GA     Walton County        1        11385
2         2  13137    GA  Habersham County        6         6500
3         3  54017    WV  Doddridge County        9         1460
4         4  55055    WI  Jefferson County        4         7618

### Input FIPS and State(2&3 column in file), find "PNode", output their "QNode"

In [15]:
for column in df.columns[2:3]:
    curData = [str(x) for x in list(df[column])]
    for i in range(len(curData)):
        if len(curData[i]) == 4:
            curData[i] = '0' + curData[i]
    f = find_identity.find_identity()
    for idx,res in enumerate(f.get_identifier_3(curData)):
        top1_dict=res[1]
        new_col = []
        for i in range(len(curData)):
            if curData[i] in top1_dict:
                new_col.append(top1_dict[curData[i]])
            else:
                new_col.append('')
        col_name = column+'_wikidata'
        df[col_name] = new_col
        break

In [16]:
df.head()

,d3mIndex,FIPS,State,Area,RUCCode,POVALL_2016,FIPS_wikidata,State_wikidata
0,0,35005,NM,Chaves County,5,13974,Q111245,Q1522
1,1,13297,GA,Walton County,1,11385,Q498312,Q1428
2,2,13137,GA,Habersham County,6,6500,Q501096,Q1428
3,3,54017,WV,Doddridge County,9,1460,Q494081,Q1371
4,4,55055,WI,Jefferson County,4,7618,Q500958,Q1537

### Save new DataFrame into .csv file

In [17]:
df.to_csv('./learningData_wikify.csv')

In [8]:
import json, requests
def call_redis(qnodes):
    payload = json.dumps({"ids": qnodes})
    search_headers = {'Accept': 'application/json', 'Content-Type': 'application/json'}
    r = requests.post("http://minds03.isi.edu:4444/get_identifiers",
        data=payload,headers=search_headers)
    if r:
        val = r.json()
        return val
    else:
        return {}

In [26]:
f.call_redis(['25145adfadf'])

{'25145adfadf': []}

In [37]:
print("四".isdigit())
print("四".isnumeric())

False
True

In [7]:
data = pd.read_csv('./SPARQL/Book1.csv')
df = pd.DataFrame(data)
df.head()

    county
0  Autauga
1  Baldwin
2     Bibb
3   Blount
4  Calhoun

In [21]:
f = find_identity.find_identity()
input_list = [x + ' County' for x in list(df['county'])]

In [22]:
f.get_identifier_3(input_list)

[]

In [27]:
list(df['county'])
f.call_redis(['35005'])

{'35005': ['P6018/Q4129587',
  'P5573/Q982388',
  'P1711/Q609328',
  'P354/Q18064475',
  'P590/Q49173306',
  'P374/Q193614',
  'P1567/Q815948',
  'P1415/Q458169',
  'P3856/Q3344602',
  'P5383/Q6498073',
  'P4125/Q14799387',
  'P4282/Q1144479',
  'P5534/Q715318',
  'P3064/Q15652559',
  'P830/Q10303893',
  'P4104/Q514583',
  'P1274/Q17110701',
  'P4231/Q5011668',
  'P351/Q29711799',
  'P3500/Q482819',
  'P3844/Q2742237',
  'P683/Q27887626',
  'P2574/Q5412880',
  'P1566/Q5726434',
  'P1005/Q566851',
  'P3151/Q2784264',
  'P2604/Q142546',
  'P359/Q2522373',
  'P815/Q4919655',
  'P2529/Q16761393',
  'P4129/Q43015119',
  'P5736/Q6750143',
  'P5032/Q786222',
  'P1265/Q744562',
  'P5263/Q652488',
  'P1058/Q15760023',
  'P4327/Q51452752',
  'P698/Q39245567',
  'P377/Q2825584',
  'P1938/Q2445355',
  'P1969/Q3148114',
  'P882/Q111245',
  'P842/Q5414047',
  'P1970/Q7722681',
  'P685/Q819220',
  'P2603/Q7990507',
  'P772/Q706892',
  'P2099/Q7301938',
  'P902/Q47010462']}

In [28]:
input_list[:10]

['Autauga County',
 'Baldwin County',
 'Bibb County',
 'Blount County',
 'Calhoun County',
 'Chilton County',
 'Elmore County',
 'Etowah County',
 'Geneva County',
 'Hale County']